<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'><h2>{{ company }}</h2></p>
                <p>Invoice</p>
            </div>
        <div>
        <div class='details'>
            Bill to: {{ customer }} <br/>
            Date: {{ created }}
            <hr class='hrItem' />
        </div>
    </div>
    <div class='details'>
            Items:<br>
            <table>
                    <tr><td>Name</td><td>Price</td><td>Quantity</td></tr>
                 {% for i in items %} <br/>
                        <tr><td>{{ i.name }}</td><td>{{ i.price }}</td><td>{{ i.quantity }} {{ i.unit }}</td></tr>
                        {% endfor %}
                    {% for m in miscellaneous %} <br/>
                    <tr><td>Other item</td><td>{{ m.price }}</td></tr>
                    {% endfor %}
                </table>
        
        <hr class='hrItem' />
    </div>
    <div>
        <div class='details'>
                <table>
                    <tr>
                            <td>
                                Total:
                            </td>
                        <td> {{ before_gst_total }}</td><td> </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Gst Rate:
                        </td>
                        <td>
                            {{ gst_rate }}%
                        </td><td> </td>
                    </tr>
                    <tr>
                        <td>
                             GST amount:
                        </td>
                        <td>
                             {{ total_gst }}
                        </td><td> </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Grand Total:</strong>
                        </td>
                        <td>
                             {{ total_bill }}
                        </td><td> </td>
                </tr>
                    </table>
            <hr class='hrItem' />
        </div>
    </div>
</div>
    </body>
</html>